

body{
  font-family: Helvetica;
  text-align: center;
}

.header{
  background-image: url(./broadway/resources/the-flatiron-building.png);
  text-align: center;
  color: white
}

h1{
  font-size: 70px;
  font-weight: bold;
  }

.bd-nav{
  font-size: 18px;
  color: white;
}
